name: Deploy Model to Algorithmia

on:
  push:
    branches:
      - master

jobs:
  algorithmia-ci:
    runs-on: ubuntu-latest
    # steps:
    #   - name: Checkout algo hosted on Git
    #     uses: actions/checkout@v2.0.0
    #     with:
    #       repository: aslisabanci/EchoText
    #       token: ${{ secrets.PAT }}
    #   - name: Checkout algo hosted on Algorithmia
    #     run: |
    #       cd $GITHUB_WORKSPACE
    #       git clone https://${{ secrets.ALGORITHMIA_USERNAME }}:${{ secrets.ALGORITHMIA_PASSWORD }}@git.algorithmia.com/git/asli/EchoText_algorithmia.git
    #       ls
    #       cd EchoText_algorithmia
    #       ls

    steps:
      - name: Checkout
        uses: actions/checkout@v2.0.0
        with:
          ref: ${{github.sha}}
          path: model_dev_repo
      - name: Deploy Model to Algorithmia
        uses: ./algorithmia_ci_modeldeployment
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY: ${{ secrets.GITHUB_REPOSITORY }}
        with:
          algorithmia_api_key: ${{ secrets.algorithmia_api_key }}
          current_repo: model_dev_repo
          notebook_path: test_notebook.ipynb
          modelfile_relativepath: /autodeployed_model.pkl
          algorithmia_uploadpath: data://asli/automated_deploy_v1
