name: Deploy Model to Algorithmia

on:
  push:
    branches:
      - master

jobs:
  algorithmia-ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2.0.0
        with:
          ref: ${{github.sha}}
          path: model_dev_repo
      - name: Deploy Model to Algorithmia
        uses: aslisabanci/algorithmia_ci_modeldeployment@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY: ${{ secrets.GITHUB_REPOSITORY }}
        with:
          algorithmia_api_key: ${{ secrets.algorithmia_api_key }}
          current_repo: model_dev_repo
          notebook_path: xgboost_on_algorithmia.ipynb
          modelfile_relativepath: /autodeployed_model.pkl
          algorithmia_uploadpath: data://asli/automated_deploy_v3
