name: Deploy to Algorithmia

on:
  push:
    branches:
      - master

jobs:
  algorithmia-CI-deployment:
    runs-on: ubuntu-latest
    env:
      ALGORITHMIA_ALGONAME: demo_jameskenny
      ALGORITHMIA_USERNAME: asli
      ALGORITHMIA_PASSWORD: ${{ secrets.ALGORITHMIA_PASSWORD }}
    steps:
      - name: Checkout Main Repo
        uses: actions/checkout@v2.0.0
        with:
          ref: ${{github.sha}}
      # - name: Checkout Algorithmia Repo
      #   run: |
      #     cd $GITHUB_WORKSPACE
      #     git clone https://"$ALGORITHMIA_USERNAME":"$ALGORITHMIA_PASSWORD"@git.algorithmia.com/git/"$ALGORITHMIA_USERNAME"/"$ALGORITHMIA_ALGONAME".git
      - name: Deploy Model to Algorithmia
        #Using the action from another repo or a marketplace link
        uses: aslisabanci/algorithmia_ci_modeldeployment@master
        #Using a locally embedded Github action:
        #uses: ./.github/actions/algorithmia_ci_modeldeployment
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY: ${{ secrets.GITHUB_REPOSITORY }}
          HEAD_COMMIT_MSG: ${{ github.event.head_commit.message }}
        with:
          algorithmia_api_key: ${{ secrets.algorithmia_api_key }}
          notebook_path: xgboost_on_algorithmia.ipynb
          modelfile_relativepath: ./autodeployed_model.pkl
          algorithmia_uploadpath: data://${{ env.ALGORITHMIA_USERNAME }}/${{ env.ALGORITHMIA_ALGONAME }}
          extra: testing_extra
      # - name: Push Updates to Algorithmia Repo
      #   run: |
      #     cd "$ALGORITHMIA_ALGONAME"
      #     git config --global user.name ${{ env.ALGORITHMIA_USERNAME }}
      #     git config --global user.email "asabanci+githubCI@algorithmia.io"
      #     git add .
      #     git commit -m "Automated deployment via Github CI"
      #     git push
