name: Deploy to Algorithmia

on:
  push:
    branches:
      - master

jobs:
  algorithmia-CI-deployment:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Main Repo
        uses: actions/checkout@v2.0.0
        env:
          CHECKOUT_COMMIT_MSG:  ${{ github.event.head_commit.message }}
        with:
          ref: ${{github.sha}}
      - name: Deploy Model to Algorithmia
        uses: aslisabanci/algorithmia_ci_modeldeployment@master
        # env:
        #   HEAD_COMMIT_MSG: ${{ github.event.head_commit.message }}
        #   commit_msg: ${{ github.event.head_commit.message }}
        with:
          algorithmia_api_key: ${{ secrets.ALGORITHMIA_API_KEY }}
          algorithmia_username: ${{ secrets.ALGORITHMIA_USERNAME }}
          algorithmia_password: ${{ secrets.ALGORITHMIA_PASSWORD }}
          algorithmia_algoname:  demo_jameskenny
          # notebook_path: xgboost_on_algorithmia.ipynb
          # model_path: ./autodeployed_model.pkl
          # algorithmia_uploadpath: data://${{ env.ALGORITHMIA_USERNAME }}/${{ env.ALGORITHMIA_ALGONAME }}
          #commit_msg: ${{ github.event.head_commit.message }}
