name: Deploy Model to Algorithmia

on:
  push:
    branches:
      - master

jobs:
  algorithmia-ci:
    runs-on: ubuntu-latest
    env:
      ALGORITHMIA_ALGONAME: xgboost_automated
      ALGORITHMIA_USERNAME: ${{ secrets.ALGORITHMIA_USERNAME }}
      ALGORITHMIA_PASSWORD: ${{ secrets.ALGORITHMIA_PASSWORD }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2.0.0
        with:
          ref: ${{github.sha}}
      - name: Checkout algo hosted on Algorithmia
        run: |
          cd $GITHUB_WORKSPACE
          git clone https://"$ALGORITHMIA_USERNAME":"$ALGORITHMIA_PASSWORD"@git.algorithmia.com/git/"$ALGORITHMIA_USERNAME"/"$ALGORITHMIA_ALGONAME".git
          pwd
          ls
      - name: Deploy Model to Algorithmia
        uses: ./.github/actions/algorithmia_ci_modeldeployment
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY: ${{ secrets.GITHUB_REPOSITORY }}
        with:
          algorithmia_api_key: ${{ secrets.algorithmia_api_key }}
          current_repo: model_dev_repo
          notebook_path: test_notebook.ipynb
          modelfile_relativepath: ./autodeployed_model.pkl
          algorithmia_uploadpath: data://asli/automated_deploy_v1
      - name: Push Updates to Algorithmia Repo
        run: |
          cd "$ALGORITHMIA_ALGONAME"
          git config --global user.name "$ALGORITHMIA_USERNAME"
          git config --global user.email "asabanci+githubCI@algorithmia.io"
          git add .
          git commit -m "Updated model config file via Github CI"
          git push
